<!DOCTYPE html>
<style media="screen">
  body {
      background-image: url("https://static01.nyt.com/images/2016/04/18/dining/18COOKING-FETTUCCINEASPARAGUS1/18COOKING-FETTUCCINEASPARAGUS1-videoSixteenByNineJumbo1600.jpg");
  }
  .homebtns-wrap{
    margin-left: 400px;
    margin-top:240px;
  }
  .homebtns{
    border-radius:5px;
    width:200px;
    margin-bottom:5px;
  }
</style>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "homebtns-wrap">
      <div class = "btn white homebtns"><%= link_to "login", login_path %></div><br><br>
      <div class = "btn white homebtns"><%= link_to "signup" , '/cooks/new' %></div>
    </div>
  </body>
</html>
